* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #1C1C1C;
}

html {
    scroll-padding-top: 57px;
}

.fit-content {
    width: fit-content;
}

.main-color {
    color: var(--primary-color);
}

.btn-color {
    background-color: var(--primary-color);
}

.text-paragraph {
    max-width: 500px;
    color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-weight: 900;
}
.section-header{
    background-image: url(../images/dots.png);
    width: fit-content;
    margin: auto;
}




/* ==== NAVBAR ==> */

.navbar-nav .nav-link.active {
    color: red;
}

.navbar-nav li a {
    color: white;
    font-weight: 500;
    letter-spacing: 1.8;
    transition: 0.5s all;
    margin-right: 5px;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--primary-color);
}


/* ===== HEADER ===> */


.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.552), rgba(0, 0, 0, 0.119)), url(../images/WhatsApp\ Image\ 2024-03-20\ at\ 01.04.54_0eb28936.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#home h2::after{
    content: '|';
    animation: 5s typing infinite;
}
/* designer */

@keyframes typing {
    0%{
        content: 't |';
    }
    7%{
        content: 'to |';
    }
    14%{
        content: 'tom |';
    }
    21%{
        content: 'tomo |';
    }
    28%{
        content: 'tomor |';
    }
    35%{
        content: 'tomorr |';
    }
    42%{
        content: 'tomorro |';
    }
    49%{
        content: 'tomorrow" |';
    }
    56%{
        content: 'tomorro |';
    }
    63%{
        content: 'tomorr |';
    }
    70%{
        content: 'tomor |';
    }
    77%{
        content: 'tomo |';
    }
    84%{
        content: 'tom |';
    }
    91%{
        content: 'to |';
    }
    98%{
        content: 't |';
    }
    100%{
        content: ' |';
    }
}










.home .container h5{
    font-size: 50px;
}

    

.head-icon a{
    width: 50px;
    height: 50px;
    border: 1 px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.481);
    box-sizing: border-box;
    /* margin: 3px; */
    padding: 5px;
}



/* ===== ABOUT ===> */


.social-icons {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    margin-right: 10px;
    transition: 0.5s all;
}

.social-icons:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.web{
    background-color:#F7F7F7;
    margin: 5px 0;
    /* width: ; */
    border-radius: 5px;
    margin: 15px;

}
.web .design{
    background-color: black;
    color: white;
    width: 95%;
    justify-content: space-between;
    border-radius: 5px;
    height: fit-content;
}
.web .branding{
    width: 80%;
    background-color: black;
}
.web .Development{
    width: 90%;
    background-color: black;


}
.button-about {
    margin: auto;
}
.button-about  .btn1 button{
    background-color:var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    /* border: 3%; */
    transition: 1s;
}
.button-about  .btn2 button{
    background-color:transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border: 3%;
    transition: 1s;
}
.button-about  .btn1:hover button{
    background-color: transparent;
    color: var(--primary-color);

}
.button-about  .btn2:hover button{
    background-color: var(--primary-color);
    color: white;

}
.about-tx{
    margin:auto;
}
/* ===== SERVICES ===> */

.services-box>p {
    max-width: 300px;
    /* height: 200px; */
}
.ser-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ser-icon i{
    width: 60px;
    height: 60px;
    background-color: rgba(210, 200, 200, 0.61);
    border: 1px solid rgba(210, 200, 200, 0.61);
    border-radius: 50%;
    padding-top: 10px;
    transition: all 1s;
}
.ser-icon:hover i{
    background-color: black;
    color: #F7F7F7;
}
  .services-box  {
    background-color: white;
    box-shadow:1px 1px 1px  rgb(217, 229, 229);
}





/* ===== CLIENT ====> */

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.carousel-item img{
    width: 100px ;
}

/* .carousel-indicators .active {
    width: 40px;
} */





/* ==== Contact Section ===> */

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .0625rem var(--primary-color);
    }

    #contact .btn:hover {
        background-color: var(--primary-color);

    }
    .contact-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100px; */
        /* height: 100px; */
    }
    .contact-icon i{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        transition: .5s all;
        padding-top: 9px;
        
    }
    .contact-i:hover i{
        background-color: #1C1C1C;
        color: #F7F7F7;
    }
    .container .creat{
        width: 80%;
        /* text-align: center; */
        margin: auto;
    }
    .submit button{
        background-color: #1C1C1C;
        color: white;
        border-radius: 7%;

    }
    .submit:hover button{
        background-color: #F7F7F7;
        color: var(--primary-color);
        border: 3px solid #1C1C1C;
    }

    

